{% extends "base.html" %}

{% block title %} Product Details {% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li>
				<a href="{{ url_for('index') }}">Home</a>
			</li>
			<li class="active">Product Details</li>
		</ol>
	</div>
</div>

<div class="row pad">
	<div class="col-lg-5">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="thumbnail">
				<img src="{{ url_for('static', filename='uploads/' + product.image) }}">
			</div>
		</div>
	</div>

	<div class="col-lg-7">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Product Details</h3>
			</div>
			<div class="panel-body">
				<h3>{{ product.name }}</h3>
				<h4>&dollar;{{ product.price }}</h4>
				<hr />
				{{ product.description }}
				<hr />
				<form action="{{ url_for('add_to_cart') }}" method="POST">
					{% if not admin %}
					<div class="row">
						<div class="col-lg-4">
							<div class="row">
								<div class="col-lg-12">
									Quantity
								</div>
								<div class="col-lg-12">
									{{ form.csrf_token }}
									{{ form.quantity(class='form-control', type='number', min=1, max=product.stock, step=1, value=1)}}
									{{ form.product_id(value=product.id) }}
								</div>
							</div>
						</div>
					</div>
					{% endif %}
			</div>
			{% if not admin %}
			<div class="panel-footer">
				<button type="submit" class="btn btn-primary">
					<i class="glyphicon glyphicon-shopping-cart"></i> Add To Cart
				</button>
			</div>
			{% endif %}
			</form>
		</div>

		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Available Shipping
						Options</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="shipping">
					<br>
					{% if product.owner.role == 'admin' %}
					<ul>
						<li>Standard Delivery</li>
						<li>InHouse Courier Service</li>
					</ul>

					{% else %}
					<ul>
						<li>Standard Delivery</li>
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}